<!DOCTYPE html>
<html>
  <head>
    <title>Boite à images</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%-scripts%>
    <%-stylesheets%>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->    
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/embed.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui/jquery-ui.css">
    <!--STYLES END-->
    
    <link type="text/css" rel="stylesheet" href="/js/dependencies/3DHOP_2.0/stylesheet/3dhop.css"/>  

    <!--SCRIPTS-->
    <script src="/js/dependencies/3DHOP_2.0/js/jquery.js"></script>
    <script src="/js/dependencies/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/js/dependencies/stereotaxic.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/gunzip.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/spidergl.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/presenter.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/nexus.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/ply.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/trackball_sphere.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/trackball_turntable.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/trackball_pantilt.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/trackball_turntable_pan.js"></script>
    <script src="/js/dependencies/3DHOP_2.0/js/init.js"></script>
    <script src="/js/dependencies/jquery.blockUI.js"></script>
    <script src="/js/dependencies/jquery.form.min.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <header>
        <% include header.ejs %>
    </header>
    
    <section>
    
    
        <div class="container_bai">
            <div class="row">
                    <%-body -%>
            </div>
        </div>
    
    
    </section>
    
    <footer>
        <% include footer.ejs %>
    </footer>


    
    


    
  </body>
</html>


