<span class="MRI"></span>
<canvas id="objCanvas" class="flat_canvas"></canvas>
<div id="slider" class="slider" oninput="javascript:changeSlice()"></div>
<div id="change_view" class="flat_change_view">
    <input type="radio" id="sagittal" name="radio" checked="checked"><label for="sagittal"><%= __('Sagittal') %></label>
    <input type="radio" id="coronal" name="radio"><label for="coronal"><%= __('Coronal') %></label>
    <input type="radio" id="axial" name="radio"><label for="axial"><%= __('Axial') %></label>
    
</div>

<script type="text/javascript">
    $("#slider").slider({slide: stereotaxic.changeSlice, min:0, max:100, value:50});
    $("#change_view").buttonset();
    $('#change_view input[type=radio]').change(function(){ stereotaxic.changeView($(this).attr('id')) })
    stereotaxic.init("<%= obj.getFileNameFlat() %>", $("span.MRI"));
</script>