    
    <div class="logo">
        <a href="/"><img src="/img/logo_bai.png" alt="Boite à images" /></a>
    </div>
    <% include nav.ejs %>
    <% include nav_social.ejs %>
    <% include nav_i18n.ejs %>
