<% layout('base') -%>

  
<h1><%= __('Cabinet de curiosités 3D') %></h1>
<p><img class="flat" src="/img/home_picture.png" alt="Home picture">



Bienvenue dans le cabinet de curiosités 3D du Muséum national d'Histoire naturelle.<br/>
Lors de votre visite sur ce site, vous pourrez découvrir des spécimens remarquables des collections de façon interactive et accéder à l’intérieur des objets.<br/>
Parcourez ces vitrines, manipulez des trésors des collections et explorez en 3D des structures longtemps inaccessibles!
</p>
    
