<% layout('base') -%>

  
<h1><%= __('Home page') %></h1>
<p><img class="flat" src="/img/home_picture.png" alt="Home picture">



Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed fermentum ex, non lacinia erat. Duis turpis est, dictum at nunc quis, suscipit efficitur nunc. Nulla efficitur risus dolor, in elementum nisl placerat quis. Donec lobortis neque at massa tincidunt, id elementum ante rhoncus. In elementum lacus sed ipsum egestas semper. Sed lobortis enim turpis. Proin vitae eros sed magna ullamcorper convallis. Nulla sollicitudin condimentum sapien, non porttitor justo laoreet id. Vestibulum euismod purus non metus fringilla, id accumsan massa blandit. Etiam interdum odio ligula, eu commodo turpis tincidunt ut. Nunc nec odio felis.
<br/><br/>
Ut vel nisi a nisl facilisis malesuada viverra at nisi. Aenean vitae volutpat elit. Curabitur sit amet metus mattis, cursus orci nec, ultricies dolor. Vivamus et congue lorem, eget finibus nunc. Aenean convallis sapien quis velit convallis, quis interdum ante scelerisque. Cras ultrices convallis massa, sit amet volutpat justo scelerisque sed. Quisque imperdiet metus eget quam pharetra tincidunt. Proin fringilla condimentum eros eget eleifend.
<br/><br/>
Curabitur ac cursus quam, non rhoncus sapien. Aenean quis rhoncus ipsum, vel tempor arcu. Vestibulum fringilla dapibus leo, ullamcorper pellentesque turpis blandit in. Vestibulum interdum tristique pellentesque. Ut sed erat a sapien iaculis varius vel eget ex. Sed at egestas nibh, non congue sapien. Mauris sit amet eleifend ligula, id lobortis tellus. Donec volutpat molestie enim commodo ultrices. Cras ut libero nibh. Praesent in sapien volutpat, bibendum lorem ut, vulputate ante. Praesent ultricies tortor et aliquet suscipit. Cras lectus metus, placerat ut iaculis eget, molestie vitae nulla. 
<br/><br/>
In in euismod dolor. Nulla nec tellus sit amet sapien bibendum tempor. Pellentesque ut tortor felis. Suspendisse lobortis dui at felis consequat, ut bibendum metus mollis. Praesent tristique quam a leo pellentesque, ut lobortis urna rutrum. Nullam molestie at enim eu pretium. Nulla eleifend lorem at sagittis volutpat. Aliquam erat volutpat. Donec porttitor ut neque vitae mattis. Etiam sollicitudin eros quis mi hendrerit, sed tristique magna porta. Suspendisse potenti. Aenean ornare posuere pretium. Suspendisse at consectetur urna. Integer id vulputate erat, in porta erat. Vestibulum suscipit non diam et blandit. Sed non diam est. 
</p>
    
