<nav class="social">
    <ul>
        <li><a target="_blank" href="https://twitter.com/le_museum"><img src="/img/logo_twitter.png" alt="twitter"></a></li>
        <li><a target="_blank" href="https://www.facebook.com/museumnationaldhistoirenaturelle"><img src="/img/logo_fb.png" alt="facebook"></a></li>
    </ul>
</nav>    