#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

makina-states.projectname:
  data:
    cron_periodicity: "0 0 * * *"
    admins: "sysadmin@{domain}"
    domain: www.foo.com
    server_aliases: []
    users:
      - root: foo
    tmp: "{data_root}/tmp"
    data: "{data_root}/data"
    upload: "{data_root}/upload"
    docroot: "{project_root}/assets"
    htaccess: "/etc/nginx/{name}.access"
    port: 80
    node_port: 3000
    node_version: "0.10.29"
    node_hash: "570c45653fec04d29d2208bb2967bc88b2821537"
    node_bin: "/srv/apps/node/{node_version}/bin"
    node: "{node_bin}/node"
    npm: "{node_bin}/npm"
    project_bin: "{project_root}/node_modules/.bin"
    loglevel: silent
    PATH: "{project_bin}:{node_bin}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
    db_user: u
    db_name: bai
    db_port: 5432
    db_host: 127.0.0.1
    db_password: x
    db_driver: sails-postgresql
    apache: false
