<% layout('../base') -%>

<h1><%= __('About') %></h1>


<p class="static">Le cabinet de curiosités 3D du Muséum national d'Histoire naturelle est un projet visant à communiquer sur l’intérêt des techniques de numérisation 3D pour les collections d’Histoire naturelle. Les équipements des différents plateaux techniques de l’établissement fournissent des données inédites et de grande qualité.</p>

<p class="static">Ces nouvelles technologies sont mises au service de la recherche. La création d’une réplique numérique de l’objet permet d’assurer sa conservation et de multiplier les échanges au sein de la communauté scientifique.</p>
<p>Par l’intermédiaire du cabinet de curiosités, nous sélectionnons quelques réalisations effectuées au sein des plateaux techniques de l'UMS 2700 (OMSI) à des fins de recherche et de valorisation des collections.</p>

<p class="static">
Le plateau technique AST-RX (Accès Scientifique à la Tomographie par Rayons X): <a target="_blank" href="http://ums2700.mnhn.fr/ast-rx/presentation">http://ums2700.mnhn.fr/ast-rx/presentation</a></br>
Le plateau de Morphométrie: <a target="_blank" href="http://ums2700.mnhn.fr/morpho/presentation">http://ums2700.mnhn.fr/morpho/presentation</a></br>
Le plateau d'Iconographie scientifique: <a target="_blank" href="http://ums2700.mnhn.fr/icono/presentation">http://ums2700.mnhn.fr/icono/presentation</a></br>
</p>