<% layout('../base') -%>

<h1><%= __('Contact') %></h1>

<p class="static">
<a target="_blank" href="http://ums2700.mnhn.fr/">http://ums2700.mnhn.fr/</a>

<ul>
<li>Entité responsable : UMS 2700 OMSI (Outils et Méthodes de la Systématique Intégrative)</li>
<li>Directeur d'unité : Pr Éric Pasquet, UMS MNHN CNRS 2700</li>
<li>Chef de projet : Pr Gaël Clément, co-responsable scientifique AST-RX</li>
<li>Référent scientifique : Dr Patricia Wils, IR</li>
<li>Référent technique : Didier Geffard-Kuriyama, TCE</li>
</ul>

</p>