<% layout('../base') -%>

<h1><%= __('Credits') %></h1>


<p class="static">
Ce site est le fruit de la collaboration des équipes de plusieurs directions et plusieurs unités du Muséum national d'Histoire naturelle.


<ul>
<li>Maîtrise d'ouvrage: Muséum national d'Histoire naturelle</li>
<li>Conception et réalisation: Makina Corpus</li>
<li>Production des contenus: UMS 2700 OMSI</li>
<li>Rédaction: à venir</li>
</ul>

</p>