<% layout('../base') -%>

<h1><%= __('Legals') %></h1>

<p class="static">
Le Muséum national d'Histoire naturelle est un établissement public culturel, scientifique et professionnel placé sous la double tutelle du Ministère de l'Enseignement supérieur et de la Recherche et du Ministère de l'Écologie, du Développement durable et de l'Énergie. Composé de plusieurs lieux ouverts à la visite du grand public, le Muséum est également un établissement dédié à la recherche scientifique et à l’enseignement supérieur. 
</p>